header{
    height: 60vh; /* tamaño del header*/
    background-image: url(img/Mask\ Group\ 134.png);
    background-size: cover; /* tamaño del fondo del header*/
    background-repeat: no-repeat;
}
.logo{
    width: 16vh;
    height: 5vh;
}
.lista{
    float: right;
}
nav > a{
    color: white;
    text-decoration: none;
    margin-right: 8px;
}

nav > a:hover{
    color: tomato;
    border-bottom: 5px solid tomato;
}

button.btn-up{
    color: white;
    border-color: rgb(59, 120, 253);
    border-radius: 5px;
    background-color: transparent ;
}
button.btn-in{
    border-color: rgb(59, 120, 253);
    background-color: rgb(59, 120, 253);
    border-radius: 5px;
}
button > a {
    color: white;
    text-decoration: none;
}
button:hover{
   background-color: tomato;
}

.titlehead{
width: 140vh;
padding-top: 140px;
padding-left: 95vh;
color: white;
text-align: justify;
}

.texthead{
   border-bottom: 5px solid tomato;
   border-radius: 5px;
}

.subtext{
    font-size: 12px;
}

.titulo{
    color: rgb(0, 0, 151);
    padding-top: 30px;
    padding-left: 60vh;
}
.boxes{
    float: right;
}

.box-info{
    background-color:rgb(59, 120, 253);
    box-shadow: 0 0 18px rgb(0, 0, 0);
    width: 45vh;
    height: 18vh;
    border-radius: 10px;
    display: flex; /* Imagen y descripcion dentro del div */

}
.img-box{
    background-color: rgb(2, 2, 202);
    /* width: 30vh;
    height: 15vh; */
}
.t-box{
    padding-top: 12px;
    color: white;
    font-size: 18px;
    border-bottom: 3px solid grey;
    
}
.content{
    color: white;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
}

/* Login */
.d-form{
    width: 700px;
    padding-top: 150px;
    padding-left: 60vh;
    text-align: center;
}
.t-log{
    color: white;
    border-bottom: 5px solid tomato;
    border-radius: 5px;
}
.f-log{
    color: white;
  
}
label{
    color: white;
    font-size: 26px;
}
input{
    border-color: tomato;
    border-radius: 5px;
    padding: 4px;
}

.send{

    color: white;
    border-color: rgb(59, 120, 253);
    background-color: rgb(59, 120, 253);
    border-radius: 5px;
}

.send:hover{
    background-color: tomato;

}

.no-log{
    color: tomato;
}